/* Barra de pestañas de navegación */
.barra-secciones {
    display: flex;
    justify-content: center;
    gap: 15px;
    background-color: #333;
    padding: 15px 0;
}

.barra-secciones button {
    background: none;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
}

.barra-secciones button:hover {
    color: #ddd;
}

.seccion {
    display: none; /* Ocultamos todas las secciones inicialmente */
    text-align: center;
    margin-top: 20px;
}

.seccion.active {
    display: block; /* Solo mostramos la sección activa */
}
