.body_login {
    display: flex; /* Flexbox para organizar elementos */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    min-height: 100vh; /* Ocupa altura completa de la pantalla */
    padding-top: 80px; /* Espacio arriba */
    padding-bottom: 180px; /* Espacio abajo */
    background-image: none !important; /* Sin imagen de fondo */
}

main {
    display: flex; /* Flexbox para alinear contenido */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    padding: 50PX;
}

.wrapper {
    width: 380px; /* Ancho fijo */
    background-color: transparent; /* Fondo transparente */
    border: 2px solid rgba(255, 255, 255, .2); /* Borde semitransparente */
    backdrop-filter: blur(20px); /* Desenfoque de fondo */
    box-shadow: 0 0 10px rgba(0, 0, 0, .2); /* Sombra suave */
    color: white; /* Texto blanco */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px 30px; /* Espacio interno */
}

.wrapper h1 {
    font-size: 32px; /* Tamaño grande de texto */
    text-align: center; /* Centra el texto */
}

.wrapper .input_box {
    position: relative; /* Posicionamiento relativo */
    width: 100%; /* Ancho completo */
    height: 50px; /* Altura fija */
    margin: 38px 0; /* Espacio vertical */
}

.input_box input {
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    background: transparent; /* Fondo transparente */
    border: none; /* Sin borde */
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2); /* Borde semitransparente */
    border-radius: 40px; /* Bordes redondeados */
    font-size: 14px;
    color: white; /* Texto blanco */
    padding: 20px 45px 20px 20px; /* Espacio interno */
}

.input_box input::placeholder {
    color: rgb(255, 254, 254); /* Color del placeholder */
}

.input_box i {
    position: absolute; /* Posiciona el icono */
    right: 20px; /* A 20px del borde derecho */
    top: 50%; /* Centrado vertical */
    transform: translateY(-50%); /* Ajuste de centrado */
}

.wrapper .remenmer-forgot {
    display: flex; /* Coloca elementos en fila */
    justify-content: space-between;
    font-size: 13px;
    margin: -15px 0 15px; /* Espacio arriba y abajo */
}

.remenmer-forgot label input {
    accent-color: white; /* Color de acento */
    margin-right: 3px; /* Espacio a la derecha */
}

.wrapper .btn {
    width: 100%; /* Ancho completo */
    height: 45px;
    background: rgb(255, 255, 255); /* Fondo blanco */
    border: none;
    outline: none;
    border-radius: 40px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, .1); /* Sombra suave */
    cursor: pointer; /* Cambia el cursor a mano */
    font-size: 14px;
    color: #000000; /* Texto negro */
    font-weight: 600; /* Grosor medio */
}


.wrapper .btn-1 {
    width: 100%; /* Ancho completo */
    height: 45px;
    background: rgb(255, 255, 255); /* Fondo blanco */
    border: none;
    outline: none;
    border-radius: 40px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, .1); /* Sombra suave */
    cursor: pointer; /* Cambia el cursor a mano */
    font-size: 14px;
    color: #000000; /* Texto negro */
    font-weight: 600; /* Grosor medio */}