/* Barra de pestañas de navegación */
main .barra-secciones {
    display:table;
    justify-content: center;
    gap: 15px;
    background-color: #333;
    padding: 15px 0;
}

main .barra-secciones button {
    background: none;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
}

main .barra-secciones button:hover {
    color: #ddd;
}

main .seccion {
    display: none; /* Ocultamos todas las secciones inicialmente */
    text-align: center;
    margin-top: 20px;
}

main .seccion.active {
    display: block; /* Solo mostramos la sección activa */
}
 