

/* Cuerpo de pagina*/

h2{         text-align: center;
            color: #ffff;
            padding-top: 30px;
            font-size: 40px;}

.formglobal .label{
            text-align: left;
            font-size: 30px; 
            color: #ffff;
            margin: 10px;}
        