
/* Estilos de boton atras */

.button {   background-color: #864904;
            border: none;
            color: #ffff;
            padding: 10px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            margin: 4px 2px;
            cursor: pointer;
            border: none;
            border-radius:px ;}


.botones-container {
            text-align: right;
            margin: 5px;}

/* Cuerpo de pagina*/

h2{         text-align: center;
            color: #ffff;
            padding-top: 30px;
            font-size: 40px;}

.formglobal .label{
            text-align: left;
            font-size: 30px; 
            color: #ffff;
            margin: 10px;}
            




}