/* Estilos header en opciones */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fdfdfd; /* Azul oscuro elegante */
}

header a {
    text-decoration: none;
    color: #864904; /* Texto blanco */
    font-size: 13px;
    transition: color 0.3s;
}

header img {
    height: 50px; /* Tamaño del logo */
    transition: transform 0.3s;
}

header img:hover {
    transform: scale(1.1); /* Animación al pasar el mouse */
}

.nav i {
    color: #864904;
}

nav ul {
    display: flex;
    gap: 20px; /* Espacio entre los elementos de la lista */
    list-style: none;
}

nav li {
    position: relative;
}

nav a {
    text-decoration: none;
    color: #864904; /* Texto blanco */
    font-size: 18px;
    font-weight: normal; /* Peso normal por defecto */
    transition: color 0.3s, font-weight 0.3s; /* Transición añadida para el peso */
}

nav a:hover {
    color: #864904; /* Cambio de color al pasar el mouse */
    font-weight: bold; /* Negrita al pasar el mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra al pasar el mouse */
    background-color: #f2f2f2; /* Fondo claro para destacar */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transición de sombra y fondo */
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #864904; /* Línea decorativa amarilla */
    transition: width 0.3s;
    margin-top: 5px;
}

nav a:hover::after {
    width: 100%; /* Animación de línea subrayada */
}
